body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:grey;

}
h1{
    font-size:2.5rem;
    color: black;
    text-shadow:lime 2px 2px;
}
.container{
    display:grid;
    width:500px;
    height:500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    text-align:center;
    background-color: white;
    border: 3px solid black;
}
.buttons{
    display:flex;
    align-items:stretch;
}